*.egg-info
__pycache__
build
dist
output
*temp.py
*.wav
gradio_cached_examples
run.sh
run2.sh
output/
**.pt
**.pth
audio_data/
audio_data_20000_end/
ckpt/
dataset/
HRTFs/
saved_models/
bin/
music_data/
scripts/
train_old.py
loss_list.pkl
hrtf_practice.ipynb
app.py
